<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password - Prima </title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>

<div class="container" id="container">

    <div class="form-container sign-in-container">

        <form th:action="@{/forgot_password}" method="post">

            <h1> Reset Password </h1> <br>

            <div class="form-group">
                <div>
                    <div th:if="${error != null}">
                        <p class="text-danger">[[${error}]]</p>
                    </div>

                    <div th:if="${message != null}">
                        <p class="text-warning">[[${message}]]</p>
                    </div>
                </div>

                <div>
                    <label for="email" class="sr-only"></label>
                    <input type="email" name="email" id="email" class="form-control"
                           placeholder="Enter your e-mail" required autofocus/>
                    <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit"
                           value="Reset">
                </div>
            </div>

        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome to Prima!</h1>
                <p>Already have an account? </p>
                <a th:href="@{/login}">
                    <button class="ghost" id="signUp">Log In</button>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>