<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title> Shop Prima </title>
</head>

<body>

<div>

    <div sec:authorize="isAuthenticated()">
        <p>
            Email:<span sec:authentication="name"></span>
            <br/>
        </p>
    </div>

    <h3 sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin}">Admin Portal</a>
    </h3>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>

    <p>Hello world</p>

    <div sec:authorize="isAnonymous()">
        <a href="index-old.html" th:href="@{/login}"> login </a>
        <a href="index-old.html" th:href="@{/register}"> register </a>
    </div>
</div>

</body>

</html>