<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Login - Prima </title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>

<div class="container" id="container">

    <div class="form-container sign-in-container">
        <form th:action="@{/authenticate}" method="post">

            <h1> Sign In </h1> <br>

            <i th:if="${param.logout}">
                You have been logged out.
            </i>

            <i th:if="${param.error}" style="color: red">
                Wrong username or password.
            </i>

            <label for="email"></label>
            <input type="text" id="email" name="username" placeholder="Email"/>

            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Password"/>

            <input type="submit" value="Login"/>

            <div class="remember-me">
                <input class="remember-me-checkbox" type="checkbox" name="remember-me">  <i> Remember me  </i>
            </div>

            <a href="forgot_password_form.html" th:href="@{/forgot_password}">Forgotten Password?</a>

        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome to Prima!</h1>
                <p>If you are not registered, please </p>
                <a th:href="@{/register}">
                    <button class="ghost" id="signUp">Register here</button>
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>