<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Register - Prima </title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>

<div class="container" id="container">

    <div class="form-container sign-in-container">
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">

            <h1>Register Page</h1>
            <i th:if="${error != null}" th:text="${error}" style="color: red"></i>

            <label for="email"></label>
            <input type="text" id="email" name="username" placeholder="Email"/>

            <input type="submit" value="Register"/>
            <a href="forgot_password_form.html" th:href="@{/forgot_password}">Forgotten Password?</a>

        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome to Prima!</h1>
                <p>Already have an account? </p>
                <a th:href="@{/login}">
                    <button class="ghost" id="signUp">Log In</button>
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>