<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="fragment"  th:fragment="fragment" >

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Constra HTML Template v1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/img/favicon.png"/>

    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="../../static/plugins/themefisher-font/style.css"
          th:href="@{/plugins/themefisher-font/style.css}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">

    <!-- Animate css -->
    <link rel="stylesheet" href="../../static/plugins/animate/animate.css" th:href="@{/plugins/animate/animate.css}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="../../static/plugins/slick/slick.css" th:href="@{/plugins/slick/slick.css}">
    <link rel="stylesheet" href="../../static/plugins/slick/slick-theme.css"
          th:href="@{/plugins/slick/slick-theme.css}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</div>

</body>
</html>